<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{ newrelic.getBrowserTimingHeader() }}
    <title>{{ title }}</title>
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/public/apple-touch-icon-precomposed.png">

    {% include "blocks/_styles.njk" %}

    <link rel="author" href="/humans.txt">
</head>
<body>
    <div class="all_wrp">
        <header id="header">
            <main class="cont_wrp">
                {% block content %}{% endblock %}
            </main>
        </header>
        <footer id="footer"></footer>
    </div>

    {% include "blocks/_scripts.njk" %}

</body>
</html>
