
clear_row()
    &:after,
    &:before
        clear: both;
        content: '';
        display: table;
        line-height: 0;

m0p0()
    margin 0
    padding 0

ulinline()
    m0p0()

    & > li
        display inline-block

placeholder()
    &::-webkit-input-placeholder {
        {block}
    }
    &:-moz-placeholder {
        {block}
        opacity: 1;
    }
    &::-moz-placeholder {
        {block}
        opacity: 1;
    }
    &:-ms-input-placeholder {
        {block}
    }
