
@require functions
@require '../../node_modules/normalize.css'

@require h5bp

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}




@require helpers
